body {
    position: relative;
    background: #F9F9F9;
    width: 100%;
    height: 100%;
}

.app {
    margin: 0px 120px;
    width: auto;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
    background: #FFFFFF;
}

.header .nav {
    position: static;
    font-family: 'Open Sans', sans-serif;
}

.chat {

    color: orange;
}

.phone {
    color: #151515;
}

.about {
    color: #6A983C;
    margin-left: auto;
    margin-right: 0;
}

.hr {
    position: relative;
    opacity: 0.2;
    border: 1px solid #151515;
    margin-top: 10px;
}

.all_categories_search {
    position: relative;
    background: #F9F9F9;
    border-radius: 12px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
}
